
/*body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top:80px;

}*/

p{
  padding-left: 30px;
}

header
{
  z-index: 3;
}
p
{
  display: block;
  margin: 0;
  padding: 3px;
  line-height: 100%;
/*  margin-right: 70px;
  margin-left: 50px;*/
}

img {
  display: block;
  margin: auto;
}

.education-1-column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    height: 1100px; /* Should be removed. Only for demonstration */
}

.education-container
{
  background-color: transparent;
  margin-left: 60px;
  padding: -50px;
  margin-right: 150px;
}

.education-container ul
{
  margin-right: 80px;
  padding-left: 130px; 
  list-style:none;
}

.education-content {
  padding-left: 310px;
  padding-right: 120px;
  padding-top: 30px;
}

.education-course {
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 50px;
}

.education-coursework {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 20px;
}

.education-coursework-list {
/*  width: 100%;
*/  font-size: 15px;
  color: #13294B;
  line-height: 150%;
  margin-bottom: 30px;
}

.education-coursework-list li { 
  margin-bottom: 10px;
  padding-left: 40px;
}

.education-coursework-list li:before {    
    font-family: 'FontAwesome';
    content: '\f02e';
    margin:0 5px 0 -25px;
}

.education-degree {
  font-weight: bold;
}

/* Create two unequal columns that floats next to each other */
.education-div-title{
  margin-top: 80px;
  margin-left: 90px;
  font-size: 28px;
}

.education-left {
  background-color:#ffcd9c;
  width: 30%;
}

.education-research-list {
/*  width: 100%;
*/  font-size: 15px;
  color: #13294B;
  line-height: 150%;
  margin-bottom: 30px;
}

.education-research-list li { 
  margin-bottom: 10px;
}

.education-research-list li:before {    
    font-family: 'FontAwesome';
    content: '\f02e';
    margin:0 5px 0 -25px;
}

.education-right {
  background-color:#ffeddb;
  width: 70%;
}

.education-right ul {
  list-style:none;
}

.education-right img {
  float: left;
  padding-top: 90px;
  padding-left: 60px;
}

/* Clear floats after the columns */
.education-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create two unequal columns that floats next to each other */
.education-title{
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 10px;
  font-size: 22px;
}

.education-title a:link {
  color: #13294B;
  background-color: transparent;
  text-decoration: none;
}

.education-title a:visited {
  color: #13294B;
  background-color: transparent;
  text-decoration: none;
}

.education-title a:hover {
  color: #e2a432;
  background-color: transparent;
  text-decoration: none;
}

.education-title a:active {
  color: #13294B;
  background-color: transparent;
  text-decoration: none;
}

