/*                            */
/* Color code                 */
/*                            */
/* text: #13294B              */
/* link/selection: #E84A27    */
/* hover: #e2a432             */


/*                */
/* body section   */
/*                */
#container {
/* width: 1440px;
*/ margin-left: auto;
 margin-right: auto;
/* background-color: #ffeddb;
*/ min-width: 1250px;
}

body {
  font-family: Verdana, Helvetica, sans-serif;
  color: #13294B;
  padding-top:80px;
  background-color: #ffeddb;
  font-size: 18px;
  margin: 0;
  height: 100%;
}

p{
  padding-left: 10px;
}

header
{
  z-index: 3;
}
p
{
  display: block;
  margin: 0;
  padding: 3px;
  line-height: 100%;
}


.parallax {
  /* The image used */
  background-image: url('../images/uiuccampus.jpg');
  /* Full height */
  height: 100vh;  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.presentation-top {
  height: : 500px;
  line-height: 500px;
  text-align: center;
  background-color: #ffeddb ;
}

.presentation-container
{
  background-color: #ffcd9c;
}

/* Create two unequal columns that floats next to each other */
.about-me-title{
  margin-top: 50px;
  margin-left: 50px;
  line-height: 350px;
  font-size: 36px;
  text-align: center;

}

.about-me-column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    height: 420px; /* Should be removed. Only for demonstration */
}

.about-me-left {
  width: 45%;
}

.about-me-right {
  width: 55%;
  margin-top: 70px;

}

.about-me-right ul {
  list-style:none;
}

/* Clear floats after the columns */
.about-me-row:after {
    content: "";
    display: table;
    clear: both;
}

.about-me-content {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 120px;
  text-align: justify;
}

.about-me-content p {
  line-height: 150%;
}

/* Create two unequal columns that floats next to each other */
.experience-title{
  margin-top: 70px;
  margin-left: 90px;
  font-size: 28px;
}

.experience-column {
    box-sizing: border-box;
    float: left;
    padding: 10px;
    height: 500px; /* Should be removed. Only for demonstration */
}

.experience-left {
  background-color:#ffcd9c;
  width: 30%;
}

.experience-right {
  background-color:#ffeddb;
  width: 70%;
  padding-top: 10px;
}

.experience-right ul {
  list-style:none;
}

.experience-right img {
  float: left;
  padding-top: 85px;
  padding-left: 60px;
}

/* Clear floats after the columns */
.experience-row:after {
    content: "";
    display: table;
    clear: both;
}

.experience-content {
  padding-left: 370px;
}

.presentation-degree-concentration {
  padding-left: 20px;
}

.presentation-medias {
  padding: 10px;
}


a.homepage:link {
  background-color: transparent;
}

a.homepage:visited {
  background-color: transparent;
}

a.homepage:hover {
  color: #e2a432;
  background-color: transparent;
}

a.homepage:active {
  background-color: transparent;
}






/*                */
/* header section */
/*                */
.header-container-fixed
{
  background-color: white;
  /*opacity: 0.5;*/
  position: fixed; /* fix the bar in the top */
  z-index: 99; /* always in the front */
  width: 100%;
  top: 0px; /* the gap to the page top */
  height: 80px;
}
.header-name
{
  display: inline-block;
  float: left;
  width: 40%;
  text-align: center;
}
.header-name > p a
{
  display: inline-block;
  font-size: 30px;
  font-family: Verdana, Helvetica, sans-serif;
  color: #13294B;
  text-decoration: none;
  padding-top: 28px;
  padding-bottom: 29px;
}
.dropbutton
{
    display: none;
}
.header-menu
{
  float: center;
  background-color: white;
  text-align: center; /* make the menu located in the center */
}
ul.header-ul
{
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: 18px 0 17px 0;
  padding-left: 0;
}
ul.header-ul > li
{
  position: relative; /* affect the dropdown menu */
  display: inline-block;
  color: #13294B;
}
ul.header-ul > li a
{
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: #13294B;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
}
ul.header-ul > li a:hover
{
  color: #e2a432;
  transition: color linear 0.2s;
}
ul.header-ul > li.active a.no-dropdown
{
  color: #E84A27;
}
ul.header-ul > li.active a.with-dropdown
{
  color: #E84A27;
}
ul.header-ul > li.active a:hover
{
  color: #e2a432;
  transition: color linear 0.2s;
}
ul.dropdown > li.active a
{
  color: #E84A27;
}
ul.dropdown > li.active a:hover
{
  color: #e2a432;
  transition: color linear 0.2s;
}
ul.header-ul > li a.no-dropdown
{
  padding: 15px 20px;
  transition: color linear 0.2s, background-color linear 0.2s;
}
ul.header-ul > li a.with-dropdown
{
  padding: 15px 20px;
  transition: color linear 0.2s, background-color linear 0.2s;
}
/* Dropdown Menu */
li.list-in-li > ul.dropdown
{
  visibility: hidden;
  text-align: center;
  line-height: 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  color: #ffffff;
  position: absolute;
  opacity: 0;
    z-index: 99;
  transition: all 0.3s ease 0.1s;
}
li.list-in-li:hover > ul.dropdown
{
  visibility: visible;
  background-color: white;
  color: #5580a8;
  line-height: 15px;
  opacity: 1.0;
}
ul.dropdown > li
{
  padding: 10px 6px;
  display: block;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 12px;
  transition: background-color linear 0.1s;
}
ul.dropdown > li:hover
{
  color: #85bfc9;
}





/*                */
/* footer section */
/*                */
#section-footer
{ 
  background-color: #ffffff;
  text-align: center;
  min-width: 1250px;
/*  width: 1440px;
*/}
.copyright
{
  display: block;
  background-color: rgba(55, 125, 189, 0.6);
  text-align: center;
}
.copyright-column
{
  /*display: inline-block;*/
  width: 100%;
  background-color: white;
  height: 30px;
  float: left;
  padding: 20px 0 20px;
}
.copyright-column p
{
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #13294B;
}
.copyright-column a
{
  color: #13294B;
  text-decoration: none;
}
.copyright-column a:hover
{
  color: #e2a432;
  text-decoration: none;
}



/*                   */
/* slidewhow section */
/*                   */

.fdp {box-sizing: border-box;}
.fdp body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
.fdp img {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #13294B;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

span.dot:hover{
  cursor: pointer;
}

.dot-active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
